# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/
Desktop.iml
/out/production/Desktop/CustomScanner.class
/out/production/Desktop/HelloWorld.class
/out/production/Desktop/OperatoryMatematyczne.class
/out/production/Desktop/zmienne.class
